<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Site-Bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {{temp}}<br>
    <br>  <form action="/" method="post">
      Dinheiro: <input type="text" name="din"><br>
      OBS:  <input type="text" name="obs"><br>
        <input type="submit" value="send">
      </form>
  </body>
</html>
